
@media screen and (min-width:0) {
    .topo__botao-administrador {
        width: 166px;
        padding: 12px 16px;
    }
    
}

@media screen and (min-width:1024px) {
    .topo__botao-administrador {
        width: 181px;
        height: 51px;
        padding: 1rem;
    }
    
}
