.destaques__container {
    display: flex;
    flex-direction: column;
}

.destaques__slide {
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    align-self: center;
}

.destaques__info {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}

.destaques__titulo {
    margin: 0 0 .5rem 0;
    font-size: 22px;
    font-weight: 700;
    color:#FFF;
}

.destaques__descricao {
    font-weight: 600;
    font-size: 14px;
    color:#FFF;
    margin: 0 0 .5rem 0;
}

.destaques__botao {
    background-color: var(--botao-azul);
    padding: 12px 16px;
    font-weight: 600;
    color:#FFF;
    text-decoration: none;
}


@media screen and (min-width:0) {

    .destaques__slide {
        height: 192px;
    }

    .destaques__info {
        padding-top: 78px;
    }

}

@media screen and (min-width:768px) {
    .destaques__slide {
        height: 352px;
    }

    .destaques__info {
        padding: 161px 2rem 2rem 2rem;
    }

    .destaques__titulo {
        font-size: 61px;
    }

    .destaques__descricao {
        font-size: 26px;
    }
}

@media screen and (min-width: 1024px) {
    .destaques__info {
        padding-left: 3rem;
    }

}