.topo__dropdown {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-left: 10px;

}

.topo__buscadrop {
    width: 100%;
    opacity: 0.1;
    transition:1s ease-out;
}

.topo__dropcontent {
    display: none;
    height: 50px;
    width: 100%;
}

.topo__dropdown:hover .topo__dropcontent {
    display: block;
    opacity: 1;
}

@media screen and (min-width:768px) {
    .topo__dropdown {
        display: none;
        
    }

}