.login {
    background-color: #f5f5f5;

}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login__titulo {
    color: var(--texto-titulo);
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.login__wrapper-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__email, .login__password {
    margin-bottom: 1rem;
    border: none;
    outline-color: #2A7AE4;
    height: 41px;
    padding: 0 1rem;
}


.login__span {
    height: auto;
    color: tomato;
    font-weight: bolder;
}

.login__hide {
    display: none;
}

.login__button {
    background-color: var(--botao-azul);
    color: var(--branco);
    height: 40px;
    text-align: center;
    font-weight: 600;

}

@media screen and (min-width:0) {
    .login__form {
        margin: 45px 1rem;
    }

    .login__wrapper-input {
        width: 100%;
    }
    
    .login__button {
        margin-bottom: 5rem;
        width: 109px;
        font-size: 14px ;
    }
}

@media screen and (min-width:768px) {
    .login__form {
        margin: 45px 30%;
    }
}

@media screen and (min-width:768px) {
    .login__form {
        margin: 91px 30%;
    }
}