.topo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    position: relative;
}

.topo__logo {
    width: 100px;
    height: 28px;
    margin-right: 1rem;
}

.topo__conteudo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topo__busca {
    margin-left: 2rem;
    background-color: #F5F5f5;
    border-radius: 20px;
    border: none;
    background-image: url(.././img/search_gray.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    height: 40px;
    font-size: 14px;
    padding: 0 2rem 0 1rem;
}

.topo__busca::placeholder {
    padding-left: 0 1rem;
}

@media screen and (min-width:0) {
    .topo__busca {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .topo__busca {
        display: flex;
        width: 272px;
    }

    .topo {
        margin: 1rem 2rem;
    }

    .topo__botao {
        width: 166px;
    }

    .topo__botao::placeholder {
        color: #a2a2a2;
    }
}

@media screen and (min-width:1024px) {
    .topo {
        margin: 1rem 9.5rem;
    }

    .topo__logo {
        height: 50px;
        width: 176px;
    }

    .topo__busca {
        width: 393px;
    }
}